 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  #242424;
}
.container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}
.inputContainer {
  display: flex;
  margin-bottom: 20px;
}

.input {
  width: calc(100% - 90px);
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #f9f9f9;
  color: #333333;
  outline: none;
}

.button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
button:focus {
  outline: none;
}

.button:hover {
  background-color: #218838;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #f2f1f1;
  color: #555555;
}

.listItem:last-child {
  border-bottom: none;
}

.emptyMessage {
  text-align: center;
  color: #777777;
  font-style: italic;
  margin-top: 20px;
}